*.class
*.log

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/sbt.xml
.idea/scala_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
.idea/modules/freemindmapper.iml
.idea/scopes/scope_settings.xml
.idea/codeStyleSettings.xml
.idea/highlighting.xml
.idea/IdeaProject.iml
.idea/projectCodeStyle.xml
.idea/scala_compiler.xml
.idea/uiDesigner.xml
.idea/libraries/SBT___scala_compiler_bundle_2_10_3.xml
.idea/libraries/SBT__org_scala_lang_modules_scala_xml_2_11_1_0_3.xml
.idea/libraries/SBT__org_scala_lang_scala_library_2_11_4.xml
.idea/libraries/SBT__org_scalatest_scalatest_2_10_2_0_M5b.xml
.idea/libraries/SBT__org_xerial_xerial_core_3_2_2.xml
.idea/modules/createMindMaps-build.iml
.idea/modules/createMindMaps.iml
.idea/modules/freemindmapper-build.iml
.idea/modules/MindMaps-build.iml
.idea/modules/MindMaps.iml
.idea/modules/myprog-build.iml
.idea/modules/myprog.iml
.idea/modules/scala-min-build.iml
.idea/modules/scala-min.iml
.idea_modules/scala-min-build.iml
.idea_modules/scala-min.iml
projectFilesBackup/.idea/libraries/SBT___scala_compiler_bundle_2_11_4.xml
projectFilesBackup/.idea/libraries/SBT__org_scala_lang_scala_library_2_11_4.xml
projectFilesBackup/.idea_modules/scala-min.iml
.idea/libraries/SBT__com_thoughtworks_paranamer_paranamer_2_6.xml
.idea/libraries/SBT__joda_time_joda_time_2_7.xml
.idea/libraries/SBT__org_json4s_json4s_ast_2_11_3_2_11.xml
.idea/libraries/SBT__org_json4s_json4s_core_2_11_3_2_11.xml
.idea/libraries/SBT__org_json4s_json4s_native_2_11_3_2_11.xml
.idea/libraries/SBT__org_scala_lang_modules_scala_parser_combinators_2_11_1_0_1.xml
.idea/libraries/SBT__org_scala_lang_scala_compiler_2_11_0.xml
.idea/libraries/SBT__org_scala_lang_scala_reflect_2_11_0.xml
.idea/libraries/SBT__org_scala_lang_scala_reflect_2_11_1_test.xml
.idea/libraries/SBT__org_scala_lang_scalap_2_11_0.xml
.idea/libraries/SBT__org_scalatest_scalatest_2_11_2_2_0_test.xml
.idea/libraries/SBT__scala_2_10_2.xml
.idea_modules/freemind-build.iml
.idea_modules/freemind.iml
projectFilesBackup1/.idea/libraries/SBT__org_scala_lang_scala_library_2_11_4.xml
projectFilesBackup1/.idea/libraries/SBT__scala_2_11_4.xml
projectFilesBackup1/.idea_modules/freemind.iml
